<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userManageMapper">
    
    <resultMap id="userManage" type="com.mvmlabs.springboot.model.admin.UserManage">
        <result property="userId" column="userid" javaType="java.lang.String"/>
        <result property="userName" column="username" javaType="java.lang.String"/>
        <result property="email" column="email" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
    </resultMap>
   
    <select id="selectUserList" resultMap="userManage">
        select * from mariadb_study.TB_USER;
    </select>
    
    <insert id="insertUser">
    	insert into 
    		mariadb_study.TB_USER(userid, username, email, password, create_time) 
    		values (
    			#{userId},
    			#{userName},
    			#{email},
    			'ppp',
    			now()
    		);
    </insert>
    
    <select id="selectUser" resultMap="userManage" parameterType="string">
    	select * from mariadb_study.TB_USER 
    	where userId = #{userId};
    </select>
    
    <update id="updateUser">
    	update 
    		mariadb_study.TB_USER
    	set
    		username = #{userName},
    		email = #{email}
    	where
    		userid = #{userId}; 
    </update>
    
    <delete id="deleteUser">
    	delete from mariadb_study.TB_USER
    	where userid = #{userId};
    </delete>
</mapper>