<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userManageMapper">
    
    <resultMap id="userManage" type="com.mvmlabs.springboot.model.admin.UserManage">
        <result property="userId" column="userid" javaType="java.lang.String"/>
        <result property="userName" column="username" javaType="java.lang.String"/>
        <result property="email" column="email" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
    </resultMap>
   
    <select id="selectUserList" resultMap="userManage">
        select * from mariadb_study.TB_USER;
    </select>
</mapper>