<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userManageMapper">
    
    <resultMap id="userManage" type="com.mvmlabs.springboot.model.admin.UserManage">
    	<result property="rowNum" column="rownum" javaType="java.lang.String"/>
        <result property="userId" column="userid" javaType="java.lang.String"/>
        <result property="userName" column="username" javaType="java.lang.String"/>
        <result property="email" column="email" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.lang.String"/>
    </resultMap>
    
    <sql id="selectUser">
    	select * from mariadb_study.TB_USER
    </sql>
    
    <!-- resultMap이 아닌 다른 타입으로 반환할 경우에는 resultType을 사용 -->
    <select id="selectUserTotalCnt" resultType="int">
        select
        	count(*)
        from
       	<!-- 위에서 선언한 sql id를 include -->
       	(<include refid="selectUser" />) DAT;
    </select>
   
    <select id="selectUserList" resultMap="userManage">
		SELECT
			*
		FROM
		(
			SELECT
					DAT.*, @NO := @NO + 1 AS rownum
			FROM
			( <include refid="selectUser" /> ) DAT,
			( SELECT @NO := 0 ) RN
		) TOT
		WHERE
			TOT.rownum BETWEEN #{startRow} AND #{endRow};
    </select>
    
    <insert id="insertUser">
    	insert into 
    		mariadb_study.TB_USER(userid, username, email, password, create_time) 
    		values (
    			#{userId},
    			#{userName},
    			#{email},
    			'ppp',
    			now()
    		);
    </insert>
    
    <select id="selectUser" resultMap="userManage" parameterType="string">
    	select * from mariadb_study.TB_USER 
    	where userId = #{userId};
    </select>
    
    <update id="updateUser">
    	update 
    		mariadb_study.TB_USER
    	set
    		username = #{userName},
    		email = #{email}
    	where
    		userid = #{userId}; 
    </update>
    
    <delete id="deleteUser">
    	delete from mariadb_study.TB_USER
    	where userid = #{userId};
    </delete>
</mapper>